# Express API Backend URL
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Mapbox Access Token (Replace with your Mapbox Public Token from account.mapbox.com)
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiZXhwbG9yZS1zbCIsImEiOiJjbHNwMW1hcGJveHRva2VuZGVtbzAifQ.demo
